* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
    font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}

li {
	list-style-type: none;
}

a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}

strong {
    font-weight: bold;
}